---
zm_trigger_ip: 10.1.1.1
zm_trigger_port: 6802
sql_credentials:
    username: root
    password: password
#using an assembled URL until I figure out how to send authentication to LWP
alertStreamUrl: http://username:password@10.1.1.2/Event/notification/alertStream
monitors:
      - name: backyard
        ipAddress: 10.1.1.2
        monitorId: 1
        username: admin
        password: password
      - name: north-gate
        ipAddress: 10.1.1.3
        monitorId: 2 
        username: admin
        passowrd: password
